

 <%- include("header"); -%>
<div class="box" id="heading">
  <h1 > <%= listTitle %> </h1>
</div>

<div class="box">

 <% for(var i=0; i<NEWELEMENTS.length; i++){  %>
   <div class="item">
     <input type="checkbox" >
    <p><%= NEWELEMENTS[i] %></p>
       </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newListItem" placeholder="New Item/Work" autocomplete="off">
    <button type="Submit" name="list" value=<%= listTitle %>>+</button>

  </form>
</div>

<%- include("footer") -%>
